/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 */

/* Custom CSS classes */
:root {
    .view-container {
        height: 100vh;
    }
    .container-fluid {
        width: 100% !important;
        max-width: auto !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;

        > .row {
            height: 100%;
            margin: 0;

            > [class*="col-"] {
                height: 100%;
            }
        }
    }

    .btn-primary {
        color: #fff;
        background-color: #F8F7F7;
        border-color: #F8F7F7;
        font-weight: 700;
    }
    .btn-primary:hover, .btn-primary:active {
        color: #fff !important;
        background-color: #c5c5c5;
        border-color: #c5c5c5;
    }
    .btn-primary:active {
        color: #fff !important;
        background-color: #c5c5c5 !important;
        border-color: #c5c5c5 !important;
    }
    .btn-primary:focus {
        color: #fff;
        background-color: #F8F7F7;
        border-color: #F8F7F7;
    }
    .btn-primary:focus {
        box-shadow: none !important;
    }
    .btn-primary:hover.btn-primary:focus {
        background-color: #c5c5c5;
        border-color: #c5c5c5;
    }
}

:focus {
    outline:0 !important;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
