<!-- dixper-poke-cards -->
<div *ngIf="pokemones.length > 0" class="poke-cards">
    <div class="row" #pokeCards (scroll)="onScroll($event)">
        <div class="col-sm-12 col-md-4 poke-card" *ngFor="let pokemon of pokemones">
            <dixper-poke-card [pokemonID]="pokemon"></dixper-poke-card>
        </div>
        <!-- Spinner -->
        <div *ngIf="isLoading" class="spinner centered">
            <span class="loader"></span>
        </div>
    </div>
</div>
<!-- Spinner -->
<div *ngIf="pokemones.length === 0 && isLoading" class="spinner centered">
    <span class="loader"></span>
</div>
<!-- end dixper-poke-cards -->