<!-- dixper-poke-card -->
<div *ngIf="pokemon" class="poke-card card text-center" id="poke-card" [ngClass]="{'no-card': noCard, 'poke-selected': isSelected}" (click)="selectPokemon()">
  <!-- Bubbles Data -->
  <div *ngIf="!noCard">
    <!-- height -->
    <button class="poke-card-bubble position-left">
      {{pokemon.height}}m
    </button>
    <!-- weight -->
    <button class="poke-card-bubble position-right">
      {{pokemon.weight}}kg
    </button>
  </div>

  <!-- Poke Img & Id -->
  <div class="card-header">
    <div class="poke-id centered">
      <span>
        #{{pokemon.id}}
      </span>
    </div>
    <div class="poke-img"
      [ngStyle]="{'background': pokemon.sprites ? 'url(' + pokemon.sprites.front_default + ')' : ''}">
    </div>
  </div>

  <!-- Poke Data -->
  <div class="card-body">
    <h4 class="card-title">{{pokemon.name |titlecase}}</h4>

    <!-- Types -->
    <div *ngIf="pokemon.types" class="poke-types">
      <span *ngFor="let type of pokemon.types; let t = index" [ngStyle]="{'color': TYPES[type.type.name]}">
        {{type.type.name |uppercase}}<span *ngIf="pokemon.types[t + 1]" class="text-muted"> · </span>
      </span>
    </div>

    <!-- Stats -->
    <div *ngIf="noCard" class="poke-stats">
      <div *ngFor="let stat of pokemon.stats" class="row d-flex justify-content-center align-items-center">
        <div class="col-4 text-right">
          <span class="stat-title mb-2 text-muted">
            {{stat.stat.name |titlecase}}
          </span>
        </div>
        <div class="col-2">
          {{stat.base_stat}}
        </div>
        <div class="col-6">
          <div class="progress">
            <div class="progress-bar" role="progressbar"
              aria-valuemin="0" [aria-valuemax]="progressMaxValue"
              [aria-valuenow]="stat.base_stat"
              [ngStyle]="{
                'width': (((stat.base_stat * 100) / progressMaxValue) + '%'),
                'background-color': getProgressColor(stat.base_stat)
              }"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end dixper-poke-card -->