<!-- app-home-view -->
<div class="view-container">
  <div class="container-fluid">
    <div class="row">
      <!-- TYPES SIDEBAR -->
      <div class="col-2 pl-0">
        <dixper-poke-types-sidebar></dixper-poke-types-sidebar>
      </div>

      <!-- CARDS -->
      <div [ngClass]="showDetails >= 0 ? 'col-6' : 'col-10'" class="pl-0">
        <dixper-poke-cards></dixper-poke-cards>
      </div>

      <!-- DETAILS SIDEBAR-->
      <div *ngIf="showDetails >= 0" class="col-4">
        <dixper-poke-details-sidebar></dixper-poke-details-sidebar>
      </div>
    </div>
  </div>
</div>
<!-- end app-home-view -->