<!-- app-home-view -->
<div class="view-container">
  <div class="container-fluid">
    <div class="row">
      <!-- TYPES SIDEBAR -->
      <dixper-poke-types-sidebar></dixper-poke-types-sidebar>

      <!-- CARDS -->
      <div class="col-sm-12 col-md-9 offset-md-3 p-0 mx-auto">
        <dixper-poke-cards></dixper-poke-cards>
      </div>

      <!-- DETAILS SIDEBAR-->
      <div *ngIf="showDetails">
        <dixper-poke-details-sidebar></dixper-poke-details-sidebar>
      </div>
    </div>
  </div>
</div>
<!-- end app-home-view -->